<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

FileEtag None
RequestHeader unset If-Modified-Since
Header set Cache-Control no-store
